body {
  font-family: "Cairo", sans-serif;
  background-color: #d6f4ff;
  color: #222;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  background: #bde7ff;
  padding: 20px;
  border-bottom: 2px solid #91d4ff;
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 60px;
}

.home-btn {
  background: white;
  padding: 15px 40px;
  border-radius: 12px;
  text-decoration: none;
  color: #0077b6;
  font-size: 1.3rem;
  box-shadow: 0 0 8px #ccefff;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background: #fffad6;
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffee99;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px 20px;
  width: 230px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ffee77;
  background-color: #fffce8;
}

#searchBox {
  margin: 20px;
  padding: 10px;
  width: 60%;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.about-container {
  margin: 50px;
  font-size: 1.2rem;
}

.whatsapp {
  color: #25D366;
  text-decoration: none;
  font-weight: bold;
}